---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import VideoPlayer from '../components/VideoPlayer.astro';
import AchievementsSection from '../components/AchievementsSection.astro';
---

<BaseLayout title="Akim Aguilar - Portafolio">
	<Hero />
	<!-- Cambiamos py-20 por pt-32 (padding-top: 8rem) para más espacio arriba. -->
	<!-- 2. Reemplazamos la sección de proyectos con la sección de video -->
	<VideoPlayer videoSrc="/videos/UFC2.webm">
		<!-- Por ahora no ponemos nada dentro, solo queremos el video de fondo.
		     En el futuro, podrías poner un título aquí, por ejemplo:
		     <h2 class="text-white text-5xl font-bold drop-shadow-lg">Mi Trayectoria</h2>
		-->
	</VideoPlayer>

	<AchievementsSection />
</BaseLayout>