---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Akim Aguilar - Portafolio">
	<h1>Bienvenido a mi portafolio</h1>
	<p>Aquí construiremos la Hero Section y el resto de la página principal</p>
</BaseLayout>