---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Akim Aguilar - Portafolio">
	<div class="home-container">
		<h1>Bienvenido a mi portafolio</h1>
		<p>Aquí construiremos la Hero Section y el resto de la página principal</p>
	</div>
	<br>
	<br>
	<br>




	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br><br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	
	<h2>Más contenido abajo para probar el scroll y la navegación</h2>
	<style>
		body {
			min-height: 100vh;
			width: 100%;
			background-image: url('../assets/capturatest2.png'); /* Reemplaza 'tu-imagen.jpg' con el nombre de tu imagen */
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding: 2rem;
		}
	</style>
</BaseLayout>