---
// Archivo: src/layouts/BaseLayout.astro
import type { ACTION_ERROR_CODES } from 'astro:actions';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- Enlazamos nuestro CSS global que está en la carpeta /public -->
    <link rel="icon" href="/public/img/logoAkim.jpeg" type="image/jpeg"/>
    <link rel="stylesheet" href="/css/navbar.css" />

    <!-- Con esto evitamos el flash del tema incorrecto -->
    <script is:inline>
        const theme = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                return localStorage.getItem('theme');
            }
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                return 'dark';
            }
            return 'light';            
        })();
        if (theme === 'light') {
            document.documentElement.classList.remove('dark');
        } else {
            document.documentElement.classList.add('dark');
        }
    </script>
</head>
<body>
     <Navbar />
    <!-- ¡CORREGIDO! El <slot /> ahora está libre, permitiendo que Hero sea de ancho completo. -->
    <slot />
</body>
</html>